

body{
  background-color: #000000;
}

.JaredGoff:hover{
    background-color: #DAA520;
}

.jaredpreach{
  margin-top:10px;
  padding-left:300px;
  font-size: 16pt;
  animation: blinkingText 10s;
  animation-iteration-count: infinite;
  color: #1E90FF;
  position: absolute;
  font-family: 'Odibee Sans', sans-serif;
  overflow:hidden;
  animation-timing-function: ease;
}

.jaredpicture1{
  grid-column:4/1;
  width:100%;
}

.jaredpicture2{
  grid-column:4/1;
  width:100%;
}

.jaredpicture3{
  grid-column:4/1;
  width:100%;
}

.jaredpicture4{
  grid-column:4/1;
  width:100%;
}

#jaredpicture1 img {
  margin:0 auto;
 width:450px;
 height:281px;
 transition: background-image 2s ease-in-out;
 background-image:url("jaredgoff1.jpg");
}

#jaredpicture1 img.top:hover {
  background-image:url("jaredgoff2.jpg");

}

.JaredGoff{
  grid-template-columns: repeat(7,5fr);
  display: grid;
  background-color: #0000FF;

}


.audible{
  margin-bottom: 10px;
  font-size:12pt;
  color: #1E90FF;
  font-family: 'Odibee Sans', sans-serif;

}

.item-3x4{
  grid-column-end: span 4;
  grid-row-end: span 3;
}

.item-5x7{
  grid-column-end: span 7;
  grid-row-end: span 5;
}

@keyframes  blinkingText {
    0%   {color: ##F0FFFF;}
    50%  {color: #000000;
            padding: 2vmin;}
    100% {color: #A52A2A;}
